button{
    width:24%;
    padding: 10px;
    margin:5px;
    background-color: rgb(212, 121, 121);
    color:white;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

button.pressed{
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(150, 80, 80);
}

.notice-header{
    border: 2px solid black;
    border-radius: 50px;
    background-color: pink;
}

.notice-body{
    margin: 10px;
    width:60%;
}