<div class="notice-container">
  <div class="notice-header">
    <button (click)="bool = !bool">+</button>
  </div>
  <div class="notice-info">
    <p>Read terms and conditions</p>
  </div>
  <!-- <ng-template [ngIf]="bool" [ngIfElse]="templateref"> -->
    <div class="notice-body" *appIf ="bool">     <!-- *ngIf="bool; else templateref"> -->
      <h1>Terms of Privacy policy</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, eaque!
        Omnis placeat voluptas expedita qui nisi fugiat maxime, aliquid
        perspiciatis quasi ratione, veritatis voluptate dolorem itaque. Quasi
        labore quidem eligendi.
      </p>
      <h2>Terms of services</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eum enim
        veniam voluptatum architecto tempore distinctio vitae fuga sapiente
        atque, odit laboriosam consequuntur officiis odio, aspernatur aut
        laborum ex cumque!
      </p>
      <h2>Privacy Policy</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
        eligendi dignissimos perspiciatis consectetur pariatur culpa quae,
        doloremque rerum voluptates tempora ea amet corrupti earum suscipit
        error in fuga fugiat voluptas!
      </p>
    </div>
  <!-- </ng-template> -->

  <!-- <ng-template #templateref> -->
    <div class="notice-body">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ex
        dolorum, esse nobis atque delectus tempore ipsa voluptate. Enim,
        laboriosam!
      </p>
    </div>
  <!-- </ng-template> -->
</div>
